*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url('https://cdn.pixabay.com/photo/2016/08/12/20/14/fields-1589613__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    text-align: center;
    margin: 100px auto;
}

button{
    padding: 15px 30px;
    background: orange;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

#input_text{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

.container{
    width: 50%;
    background-color: white;
    height: 20vh;
    margin: 10px auto;
    border-radius: 20px;
    font-size:25px;
    padding-bottom: 250px;
}

h1{
    padding: 5px 0;
    text-align: center;
    color: saddlebrown;
}

p{
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
}